<div class="button-group">
  <a href="https://snapchat.com/add/{{ site.snapchat }}" class="left-icon button"><i class="fa fa-snapchat-ghost"></i>Snapchat</a>
  <a href="https://www.facebook.com/{{ site.facebook }}" class="left-icon button"><i class="fa fa-facebook"></i>Facebook</a>
  <a href="https://twitter.com/{{ site.twitter }}" class="left-icon button"><i class="fa fa-twitter"></i>Twitter</a>
</div>
<div class="button-group">
  <a href="/gpg.txt" class="left-icon button secondary"><i class="fa fa-lock"></i>GPG Key</a>
  <a href="/ssh.txt" class="left-icon button secondary"><i class="fa fa-terminal"></i>SSH Key</a>
</div>