body {
  background: url('/images/honor.jpg') no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.splash {
  position: absolute;
  top: 15%;
  width: 100%;
}

.splash-inner {
  @extend .shadow-2;
  background: white;
  padding: 2em;
}